@import url(//fonts.googleapis.com/css?family=Lato);

* {
  font-family: 'Lato', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #262626;
  background: #fafafa;
  overflow-x: hidden;
}

*:focus {
  outline: 0 !important;
}

header {
  color: white;
  background: url(../images/bg.jpg) top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header img {
  width: 100%;
}

header h1 {
  margin: 40% 0 30px;
  font-size: 40px;
  font-weight: bold;
}

header h1 + p {
  margin-bottom: 40%;
}

.page-block {
  padding: 15px;
  position: relative;
}

#why-choose h3 {
  margin: 25px 0;
  font-size: 28px;
}

#why-choose h3 + p {
  margin-bottom: 35px;
}

#why-choose .item {
  padding-left: 2ex;
  text-indent: -2ex;
  font-size: 17px;
}

#why-choose .item .fa {
  color: #ce2b1d;
}

#free-download form {
  margin-top: 35px;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,.5);
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  background: #ebebeb;
}

@media only screen and (min-width: 992px) {
  #free-download form {
    width: 100%;
    margin-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: -150px;
    left: 0;
    z-index: 1;
  }
}

#free-download legend {
  width: auto;
  margin: 0 40px 10px 0;
  border-bottom: none;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  color: #b52217;
}

#free-download legend + p {
  margin-right: 120px;
  font-size: 22px;
  font-weight: 600;
}

#free-download img {
  position: absolute;
  top: -35px;
  right: -25px;
  z-index: 2;
}

#free-download hr {
  width: 100%;
  height: 1px;
  margin: 0 0 15px;
  background: #d1d1d1;
}

#free-download hr + p {
  font-size: 16px;
}

#free-download .form-group {
  margin-top: 15px;
}

#free-download label {
  font-weight: bold;
}

#free-download input[type="text"] {
  height: 40px;
}

#free-download button {
  margin: 25px auto 0;
  padding: 15px 30px;
  border: 2px solid #f2f2f2;
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
  color: white;
  background: #f79a0f;
  background: -moz-linear-gradient(top, #f79a0f, #e88b00);
  background: -webkit-linear-gradient(top, #f79a0f, #e88b00);
  background: linear-gradient(to bottom, #f79a0f, #e88b00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f79a0f', endColorstr='#e88b00', GradientType=0);
  display: block;
}

#free-download button:active {
  background: #e88b00;
  background: -moz-linear-gradient(top, #e88b00, #f79a0f);
  background: -webkit-linear-gradient(top, #e88b00, #f79a0f);
  background: linear-gradient(to bottom, #e88b00, #f79a0f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e88b00', endColorstr='#f79a0f', GradientType=0);
}

#feedback > p {
  margin: 50px 0;
  font-size: 18px;
}

.review {
  margin: 50px 0;
}

blockquote {
  padding: 0;
  quotes: '\0022' '\0022';
  border-left: none;
  font-size: 20px;
}

blockquote > p:before {
  content: open-quote;
}

blockquote > p:after {
  content: close-quote;
}

blockquote + p {
  margin-top: 30px;
  font-weight: 500;
}

#block-3 {
  background: #ebebeb;
}

#block-3 .clearfix {
  margin-bottom: 30px;
}

#block-3 h3 {
  margin-bottom: 20px;
  font-size: 28px;
}

#block-3 img {
  margin-top: 15px;
  float: left;
}

#block-3 h4 {
  margin-left: 80px;
  font-weight: 900;
  text-transform: uppercase;
  color: #c1261b;
}

#block-3 h4 + p {
  margin-left: 80px;
  font-weight: 500;
}

footer {
  padding: 15px;
}

footer h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #9f9f9f;
}

.client:not(:first-of-type) {
  margin-left: 50px;
  padding: 0;
  font-size: 0;
}

.client img {
  padding: 5px 0;
}

footer hr + p {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}